<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs"></script>
    <script src="{{ url_for('static', filename='main.js')}}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote</title>
</head>
<body>
    <div>Yes Votes: <span id="yes">{{ votes["yes"]}}</span></div>
    <div>No Votes: <span id="no">{{ votes["no"]}}</span></div>
    <div>Maybe Votes: <span id="maybe">{{ votes["maybe"]}}</span></div>
    <hr>
    <button data-vote="yes">Yes</button>
    <button data-vote="no">No</button>
    <button data-vote="maybe">Maybe</button>
</body>
</html>